matplotlib
plotly
notebook
pandas
pyarrow
requests
seaborn
python-dotenv
scikit-learn
mlflow
xgboost
lightgbm
confluent-kafka
hopsworks
hsml
streamlit
geopandas
streamlit_folium
branca
scipy
statsmodels
pmdarima
